# Bỏ qua file môi trường
.env

# Bỏ qua file private JSON (Service Account Google)
*.json

# Bỏ qua thư mục node_modules (package npm cài đặt)
node_modules/

# Bỏ qua thư mục upload tạm của Multer
uploads/

# Bỏ qua các file hệ thống
.DS_Store
Thumbs.db
